* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

h1 {
    font-size: 100px;
    color: khaki;
    margin: 70px 10px;
    text-align: center;
    background-image: url("./Image/pattern.jpeg");
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin: 20px 10px;
}

img {
    margin: 20px 10px;
}

.brush {
    background-color: mediumspringgreen;
}

.frame {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}

h3 {
    margin: 10px 10px 10px;
}

p {
    margin: 10px 10px 10px;
}

strong {
    color: blue;
}